sphinx
sphinx-argparse
sphinx-rtd-theme
sphinxcontrib-napoleon
chardet==3.0.4
# for umap
matplotlib
seaborn
pandas
umap-learn

setuptools==59.5.0
protobuf==3.19

# https://github.com/readthedocs/readthedocs.org/issues/9038
Jinja2<3.1

# https://stackoverflow.com/a/72747002/82733
markupsafe==2.0.1
